snippet rest "Template for REST Query Workbook"
	// Global Definitions
	https://${1:host}/
	#--verbose
	--silent --show-error

	#Accept: application/json
	#Token: ${2:token}
	#Authorization: Bearer ${3:token}

	// End of Global Section
	--

	// Query blocks start with -- or a non-global host.
	--
	GET ${0}

	https://www.google.com
	GET /
