[submodule "pack/bundle/opt/coc.nvim"]
	path = pack/bundle/opt/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "pack/bundle/opt/vim-fugitive"]
	path = pack/bundle/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/bundle/opt/vim-gitgutter"]
	path = pack/bundle/opt/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "pack/bundle/opt/vim-commentary"]
	path = pack/bundle/opt/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/bundle/opt/vim-rest-console"]
	path = pack/bundle/opt/vim-rest-console
	url = git@github.com:diepm/vim-rest-console.git
[submodule "pack/bundle/opt/Improved-AnsiEsc"]
	path = pack/bundle/opt/Improved-AnsiEsc
	url = git@github.com:vim-scripts/Improved-AnsiEsc.git
[submodule "pack/bundle/opt/gruvbox"]
	path = pack/bundle/opt/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pack/bundle/opt/xterm-color-table.vim"]
	path = pack/bundle/opt/xterm-color-table.vim
	url = git@github.com:guns/xterm-color-table.vim
[submodule "pack/bundle/opt/ldraw.vim"]
	path = pack/bundle/opt/ldraw.vim
	url = git@github.com:vim-scripts/ldraw.vim.git
[submodule "pack/bundle/opt/csv.vim"]
	path = pack/bundle/opt/csv.vim
	url = git@github.com:chrisbra/csv.vim
[submodule "pack/bundle/opt/undotree"]
	path = pack/bundle/opt/undotree
	url = git@github.com:mbbill/undotree
[submodule "pack/bundle/opt/vim-easy-align"]
	path = pack/bundle/opt/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align
[submodule "pack/bundle/opt/vim-sessions"]
	path = pack/bundle/opt/vim-sessions
	url = git@github.com:PhilRunninger/vim-sessions.git
[submodule "pack/bundle/opt/vim-signature"]
	path = pack/bundle/opt/vim-signature
	url = git@github.com:kshenoy/vim-signature
[submodule "pack/bundle/opt/vim-repeat"]
	path = pack/bundle/opt/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "pack/bundle/opt/vim-surround"]
	path = pack/bundle/opt/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/bundle/opt/vim-unimpaired"]
	path = pack/bundle/opt/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "pack/bundle/opt/vim-exchange"]
	path = pack/bundle/opt/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "pack/bundle/opt/unicode.vim"]
	path = pack/bundle/opt/unicode.vim
	url = git@github.com:chrisbra/unicode.vim.git
[submodule "pack/bundle/opt/Recover.vim"]
	path = pack/bundle/opt/Recover.vim
	url = git@github.com:chrisbra/Recover.vim.git
[submodule "pack/bundle/opt/scratch.vim"]
	path = pack/bundle/opt/scratch.vim
	url = git@github.com:mtth/scratch.vim
[submodule "pack/bundle/opt/tabline.vim"]
	path = pack/bundle/opt/tabline.vim
	url = git@github.com:mkitt/tabline.vim.git
