[submodule "pack/bundle/opt/vim-fugitive"]
	path = pack/bundle/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/bundle/opt/csv.vim"]
	path = pack/bundle/opt/csv.vim
	url = git@github.com:chrisbra/csv.vim
[submodule "pack/bundle/opt/undotree"]
	path = pack/bundle/opt/undotree
	url = git@github.com:mbbill/undotree
[submodule "pack/bundle/opt/vim-easy-align"]
	path = pack/bundle/opt/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align
[submodule "pack/bundle/opt/vim-sessions"]
	path = pack/bundle/opt/vim-sessions
	url = git@github.com:PhilRunninger/vim-sessions.git
[submodule "pack/bundle/opt/vim-signature"]
	path = pack/bundle/opt/vim-signature
	url = git@github.com:kshenoy/vim-signature
[submodule "pack/bundle/opt/vim-repeat"]
	path = pack/bundle/opt/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "pack/bundle/opt/vim-surround"]
	path = pack/bundle/opt/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/bundle/opt/vim-unimpaired"]
	path = pack/bundle/opt/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired
[submodule "pack/bundle/opt/vim-exchange"]
	path = pack/bundle/opt/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "pack/bundle/opt/unicode.vim"]
	path = pack/bundle/opt/unicode.vim
	url = git@github.com:chrisbra/unicode.vim.git
[submodule "pack/bundle/opt/bufselect.vim"]
	path = pack/bundle/opt/bufselect
	url = git@github.com:PhilRunninger/bufselect.vim.git
[submodule "pack/bundle/opt/cmp-nvim-lua"]
	path = pack/bundle/opt/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
[submodule "pack/bundle/opt/LuaSnip"]
	path = pack/bundle/opt/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "pack/bundle/opt/cmp-buffer"]
	path = pack/bundle/opt/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "pack/bundle/opt/cmp-path"]
	path = pack/bundle/opt/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "pack/bundle/opt/cmp_luasnip"]
	path = pack/bundle/opt/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "pack/bundle/opt/friendly-snippets"]
	path = pack/bundle/opt/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "pack/bundle/opt/nvim-cmp"]
	path = pack/bundle/opt/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/bundle/opt/nvim-lspconfig"]
	path = pack/bundle/opt/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/bundle/opt/cmp-nvim-lsp"]
	path = pack/bundle/opt/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/bundle/opt/Comment.nvim"]
	path = pack/bundle/opt/Comment.nvim
	url = git@github.com:numToStr/Comment.nvim.git
[submodule "pack/bundle/opt/gitsigns.nvim"]
	path = pack/bundle/opt/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "pack/bundle/opt/nvim-colorizer.lua"]
	path = pack/bundle/opt/nvim-colorizer.lua
	url = git@github.com:NvChad/nvim-colorizer.lua.git
[submodule "pack/bundle/opt/vim-matchup"]
	path = pack/bundle/opt/vim-matchup
	url = git@github.com:andymass/vim-matchup.git
[submodule "pack/bundle/opt/markdown-preview.nvim"]
	path = pack/bundle/opt/markdown-preview.nvim
	url = git@github.com:iamcco/markdown-preview.nvim.git
[submodule "pack/bundle/opt/vifm.vim"]
	path = pack/bundle/opt/vifm.vim
	url = git@github.com:vifm/vifm.vim.git
[submodule "pack/bundle/opt/Recover.vim"]
	path = pack/bundle/opt/Recover.vim
	url = git@github.com:chrisbra/Recover.vim.git
[submodule "pack/bundle/opt/mason-lspconfig.nvim"]
	path = pack/bundle/opt/mason-lspconfig.nvim
	url = git@github.com:williamboman/mason-lspconfig.nvim.git
[submodule "pack/bundle/opt/mason.nvim"]
	path = pack/bundle/opt/mason.nvim
	url = git@github.com:williamboman/mason.nvim.git
[submodule "pack/bundle/opt/cmp-rpncalc"]
	path = pack/bundle/opt/cmp-rpncalc
	url = git@github.com:PhilRunninger/cmp-rpncalc.git
[submodule "pack/bundle/opt/plenary.nvim"]
	path = pack/bundle/opt/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/bundle/opt/vim-rest-console"]
	path = pack/bundle/opt/vim-rest-console
	url = git@github.com:Aadniz/vim-rest-console.git
[submodule "pack/bundle/opt/sql.nvim"]
	path = pack/bundle/opt/sql.nvim
	url = git@github.com:PhilRunninger/sql.nvim.git
