" vim: filetype=vifm :
" ------------------------------------------------------------------------------
" See how this is used in ./lua/plugins/vifm.lua.

" Set up mappings to open files in Neovim.
nnoremap S :SplitVim<cr>
vnoremap S :SplitVim<cr>
nnoremap V :VsplitVim<cr>
vnoremap V :VsplitVim<cr>
nnoremap T :TabVim<cr>
vnoremap T :TabVim<cr>
nnoremap Q :qall!<cr>

" Show file viewer, or not, based on the total width.
if &columns > 100
    vsplit
    view!
else
    only
endif
